*{
    padding: 0%;
    box-sizing: border-box;
}
#secpage{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    margin: auto;padding: 20px;
}
.secimg:nth-child(1){
    width: 32%;
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/asapimage---533-x-644-px_540x.jpg?v=1650550832");
   
}
.secimg:nth-child(2){
    width: 32%;
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/WEB_ASSET_2_540x.jpg?v=1650894933");
}

.secimg:nth-child(3){
    width: 32%;
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/womens_tops_2_540x.jpg?v=1630508297");
}

#shopbycategory{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
#shopbycategory>div{
    width: 100%;
    margin: auto;
}
#shopbycategory>div>img{
    width: 100%;
}
#boximg{
    cursor: pointer;
}
#NewArrpro{
    cursor: pointer;
}
#NewArr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
#NewArr>div{
    width: 100%;
    margin: auto;
}
#NewArr>div>img{
    width: 100%;
}
#NewArrpro{
    cursor: pointer;
}
#trending{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
#trending>div{
    width: 100%;
    margin: auto;
}
#trending>div>img{
    width: 100%;
}
#trendinghead{
    text-align: center;
}
#trendinghead>button{
    padding: 10px;
}
#imgslider2{
    overflow: hidden;
    width: 100%;
    height: 60vh;
    margin: auto;
    background-color: black;
    font-size: 4rem;
}
#newarrbtn{
    text-align: center;
}
#newarrbtn>button{
    padding: 10px;
}

.imgslider{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: black;
    
}
.imgwrapper{
    width: 500%;
    animation: slide 10s infinite;
    
}
.slidehead{
    font-size: 05rem;
    line-height: 05em;
}

.imgcontainer{
    text-align: center;
    color: white;
    float: left;
    height: 100vh;
    width: 20%;
}
.imgcontainer:nth-child(1){
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/shutterstock_1207523875_1512x.jpg?v=1660338294");
}
.imgcontainer:nth-child(2){
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/shutterstock_773947222_97e3ce6e-89fa-4a0f-a5d5-d0d373ae995e_1512x.jpg?v=1660340662");
}
.imgcontainer:nth-child(3){
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/shutterstock_1161591199_1512x.jpg?v=1660339761");
}
.imgcontainer:nth-child(4){
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/shutterstock_324325775_1_1512x.jpg?v=1660337720");
}
.imgcontainer:nth-child(5){
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/shutterstock_1464509732_1_e307f109-5b85-417e-93c7-9420d8804949_1512x.jpg?v=1660343364");
}
.imgcontainer:nth-child(6){
    background-image: url("https://cdn.shopify.com/s/files/1/0248/3473/6191/files/shutterstock_390723769_4_7_1512x.jpg?v=1660348351");
}

@keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -100%;}
    50% {margin-left: -100%;}
    60% {margin-left: -200%;}
    70% {margin-left: -200%;}
    80% {margin-left: -300%;}
    90% {margin-left: -300%;}
    100% {margin-left: -300%;}
    110% {margin-left: -300%;}
}

.bottom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
}
